#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Demon Terminal
Comment=Use the command line
Exec=dt
Icon=utilities-terminal
Type=Application
Categories=QT;System;TerminalEmulator;
StartupNotify=true
